@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> <img src="https://i.pinimg.com/originals/90/ee/8c/90ee8c7d852e53327dbde9fc252cf023.gif" alt="logo" style="width:467px;height:234px"/>  </h1>
    <p>Learn about Riddles <a href="https://en.wikipedia.org/wiki/Riddle">here</a></p>
</div>

<div class="jumbotron">
    <h1>Click the button to replace the riddle!</h1>
    <button style="" onclick="sentence()">Click me!<i class="fade fa-refresh" aria-hidden="true"></i></button>
    <p class="lead">Add riddle line here</p>
    <p id="sentence"></p>
</div>
