@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4"> <img src="https://images.squarespace-cdn.com/content/v1/5ab06e9d9772ae68682c2a31/1523820787258-3NY5P100REQS72LYEII4/ke17ZwdGBToddI8pDm48kD-7Y6hUyH__J540HVDKqr5Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI3WdQ9zDztA4I3N47dPjBeaOt-sStWcJg_2E2h-iJzQE/about.gif" alt="logo" style="width:505px;height:174px" />  </h1>
    <p>Hello World</p>
</div>